{{ template "base.layout.start" . }}
<section>
  <h2 class="text-left text-xl mt-12 font-medium">Add key</h2>

  <form class="grid grid-cols-7 my-4 gap-4 items-start" hx-post="/add" hx-target="#key-list" hx-indicator="#loading"
    hx-swap="afterbegin" hx-on::after-request="this.reset()"
    hx-headers='js:{"X-TimeZone": Intl.DateTimeFormat().resolvedOptions().timeZone}'>
    {{ block "new-key-form" . }}
    <div class="col-span-5 flex flex-col gap-4">
      <div class="col-span-5 flex flex-col gap-2">
        <label for="key-description">Key description</label>
        <input type="text" name="description" id="key-description" class="input input-bordered"
          value="{{ .FormDescription }}" />
        <span _="on click from #form-button put '' into me" class="text-xs text-red-700">
          {{ .ErrDescription }}
        </span>
      </div>
    </div>

    <button id="form-button" class="col-span-2 btn btn-accent mt-8">
      Submit
    </button>
    {{ end }}
  </form>
</section>

<span class="block mx-auto loading loading-spinner loading-lg htmx-indicator" id="loading"></span>

<section _="on scroll from window
if (window.scrollY > 200)
    show #buttonUp
else
    hide #buttonUp
end" class="grid grid-cols-7" hx-get="/keys" hx-trigger="load from:window" hx-indicator="#loading"
  hx-headers='js:{"X-TimeZone": Intl.DateTimeFormat().resolvedOptions().timeZone}'>
  {{ template "key-list" .}}
</section>
{{ template "base.layout.end" .}}
