{{ define "header" }}
<header>
  <nav class="flex justify-between items-center mb-8 w-full">
    <a hx-swap="transition:true" href="/" class="whitespace-nowrap text-3xl font-semibold">
      Auth token management
    </a>
    <div class="flex justify-center items-center mx-4">
      <a href="https://go.dev/" target="_blank">
        <img class="w-20" src="/static/img/gopher-svgrepo-com.svg" alt="Logo Gopher">
      </a>
      <a href="https://htmx.org/" target="_blank">
        <img class="w-56" src="/static/img/htmx-logo.png" alt="Logo Htmx">
      </a>
    </div>
  </nav>
</header>
{{end }}
